<!DOCTYPE html>
<html lang="en" ng-app="charityStatement">
<style type="text/css">
@font-face {
	font-family: "customfont";
	src: url('/template/Nexa Bold.OTF') format("truetype");
}
*{font-family:"customfont";}
br {
	 display: block;
	 margin: 4px;
}
</style>
	<head>
		<script src ="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js"></script>
		
    <style>
        @import url(http://fonts.googleapis.com/css?family=Raleway:400);
        h1{font: 400 1.75em/1.5em "Raleway", "Helvetica Neue", Helvetica, sans-serif; text-align:center;}
    </style>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
		<link href="/css/custom.css" rel="stylesheet">
		<link href="/css/button.css" rel="stylesheet">
	    <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase-database.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/ui/live/1.0/firebase-ui-auth.js"></script>
	    <link rel="stylesheet" href="/css/style.css">

	</head>
	<body  style="background-color: #001f3f">
		<div id="sentiment" style="display: none;"><%= sentiment %></div>
		<div id="sadness" style="display: none;"><%= sadness %></div>
		<div id="joy" style="display: none;"><%= joy %></div>
		<div id="anger" style="display: none;"><%= anger %></div>
 		<div id="fear" style="display: none;"><%= fear %></div>
		<div id="disgust" style="display: none;"><%= disgust %></div>
		<div id="name" style="display: none;"><%= name %></div>
		<!-- keywords separated by commas -->
		<div id="keywords" style="display: none;"><%= keywords %></div>
		<!-- headlines separated by | -->
		<div id="headlines" style="display: none;"><%= headlines %></div>

        <div id="bgcity" class="jumbotron text-center">
        	<div id="titleText">
                <h1 id="namefield" class = "button" style="color: #000000"><%= name %></h1>
            </div>
        </div>

		<div style="color: #ffffff" class="container">
		  <!-- Example row of columns -->
		  <div class="row">
			<div class="col-md-6" id="first-column">
			  <h2>Description</h2>
			  <p id="description">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <script>
                var obj = {
    "id": 20,
    "values" : [
        {
            "name": "Red Cross",
            "desc": "The American Red Cross, also known as the American National Red Cross, is a humanitarian organization that provides emergency assistance, disaster relief and education in the United States.",
            "img": "https://www.redcross.org/images/MEDIA_CustomProductCatalog/m48040100_ButtonLogo200.jpg"
        },
        {
            "name": "Hope For Haiti",
            "desc": "We work to improve the quality of life for the Haitian people, particularly children.",
            "img": "http://www.thecreativebodega.com/nicheonline/wp-content/uploads/2013/04/hope-for-haiti.jpg"
        },
        {
            "name": "Feeding America",
            "desc": "Feeding America is a hunger organization with a nationwide network of food banks feeding the hungry.",
            "img": "https://upload.wikimedia.org/wikipedia/en/thumb/a/aa/Feeding_America_logo.svg/1280px-Feeding_America_logo.svg.png"
        },
        {
            "name": "Salvation Army",
            "desc": "The Salvation Army is a Christian church and international charitable organisation structured in a quasi-military fashion.",
            "img": "https://upload.wikimedia.org/wikipedia/en/thumb/c/c4/The_Salvation_Army.svg/868px-The_Salvation_Army.svg.png"
        },
        {
            "name": "YMCA",
            "desc": "YMCA programs celebrate and honor common values of respect, responsibility, honesty, and caring by infusing character development into programs.",
            "img": "https://www.ymcamn.org/themes/custom/ymca/img/ymca-logo-social.png"
        },
        {
            "name": "United Way",
            "desc": "United Way Worldwide is the leadership and support organization for the network of nearly 1,800 community-based United Ways in 45 countries and territories.",
            "img": "http://unitedwaysuwanneevalley.org/images/united-way-lock-up-rgb%20(Small).jpg"
        },
        {
            "name": "American Civil Liberties Union",
            "desc": "The American Civil Liberties Union (ACLU) is a national organization that works daily in courts, legislatures and communities to defend the individual rights of the people.",
            "img": "http://unitedwaysuwanneevalley.org/images/united-way-lock-up-rgb%20(Small).jpg"
        },
        {
            "name": "Asian Americans Advancing Justice",
            "desc": "A non-profit legal aid and civil rights organization dedicated to advocating for civil rights, providing legal services and education for APAs",
            "img": "https://www.advancingjustice.org/images/AAAJ_website.jpg"
        },
        {
            "name": "Wounded Warrior Project",
            "desc": "Wounded Warrior Project is a charity and veterans service organization that offers a variety of programs for wounded veterans of the military actions following 9/11.",
            "img": "https://mgtvwkrg.files.wordpress.com/2016/01/wounded-warrior-project.jpg"
        },
        {
            "name": "Doctors Without Borders",
            "desc": "Doctors Without Borders, is an international humanitarian-aid non-governmental organization.",
            "img": "http://www.magicsandwichshow.com/wp-content/uploads/2012/07/MSF_dual_English_CMYK.jpg"
        },
        {
            "name": "Cancer Research Institute",
            "desc": "The Cancer Research Institute (CRI) is the world's only nonprofit leader dedicated exclusively to advancing immunology and immunotherapy against cancer.",
            "img": "http://www.cancerresearch.org/CRI/media/SiteUI/logoCRI.png"
        },
        {
            "name": "National Rifle Association",
            "desc": "Support of a wide range of firearm-related public interest activities of the National Rifle Association of America and other organizations.",
            "img": "http://cdn.wallpapersafari.com/31/0/N9Yz7j.jpg"
        },
        {
            "name": "Union of Concerned Scientists",
            "desc": "Puts rigorous independent science to work to solve the most pressing problems of our planet.",
            "img": "http://leftexposed.org/wp-content/uploads/2016/09/Union-of-Concerned-Scientists-2.png"
        },
        {
            "name": "Hispanic Scholarship Fund",
            "desc": "Providing the Hispanic community and other minorities college scholarships and educational outreach support.",
            "img": "https://d17b1stq82ojj.cloudfront.net/wp-content/uploads/2016/02/Hispanic-Scholarship-Fund.jpg"
        },
        {
            "name": "Coalition for the Homeless",
            "desc": "To assist the homeless through its programs for advocacy, AIDS, housing, and job training, while providing decent shelter, sufficient food, affordable housing, and job placement.",
            "img": "http://www.coalitionforthehomeless.org/wp-content/uploads/2014/02/CFHLogoFeatured-1024x564.jpg"
        },
        {
            "name": "Habitat for Humanity",
            "desc": "Seeking to put God's love into action, brings people together to build homes, communities and hope.",
            "img": "http://bbjtoday.com/wp-content/woo_custom/1692-habitat-for-humanity-web.jpg"
        },
        {
            "name": "Africare",
            "desc": "Works to improve the quality of life of the people in Africa by building partnerships with African people to build sustainable, healthy and productive lives and communities, and is a leading voice in addressing African development and policy issues.",
            "img": "http://akatasia.com/files/2013/09/africare-1.png"
        },
        {
            "name": "NAMI",
            "desc": "Dedicated to improving the lives of persons and their families living with serious mental illness.",
            "img": "https://photos.prnewswire.com/prnfull/20100216/NAMILOGO"
        },
        {
            "name": "International Peace Institute",
            "desc": "Dedicated to promoting the prevention and settlement of conflicts between and within states by strengthening international peace and security institutions.",
            "img": "https://yt3.ggpht.com/-ijqwJ0S1vRE/AAAAAAAAAAI/AAAAAAAAAAA/HBkZIraJVnU/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"
        },
        {
            "name": "Center for Reproductive Rights",
            "desc": "Legal advocacy organization dedicated to promoting and defending women's reproductive rights worldwide; uses the law to advance reproductive freedom as a fundamental human right that all governments are legally obligated to protect.",
            "img": "http://www.ushrnetwork.org/sites/ushrnetwork.org/files/styles/large/public/ce.png?itok=LNqNKCIG"
        },
        {
            "name": "Fisher House Foundation",
            "desc": "Provides military families housing close to a loved one during hospitalization for an illness, disease or injury; also funds a scholarship program for military families, and provides military personnel and their families with free air travel and hotel rooms.",
            "img": "https://web.charityengine.net/_transactionServerFiles/865/2016/1/4/FH_Logo_3Color.svg"
        },
        {
            "name": "Semper Fi Fund",
            "desc": "Provides immediate and long-term support for post-9/11 injured and critically ill members of the U.S. Armed Forces and their families.",
            "img": "https://pbs.twimg.com/profile_images/720675691541307393/fkq9BJUd.jpg"
        },
        {
            "name": "Breast Cancer Fund",
            "desc": "Working to stop breast cancer before it starts by exposing and eliminating the environmental causes of the disease.",
            "img": "https://static1.squarespace.com/static/5560fd03e4b048b2365c0756/55731667e4b01287f8ae9a1c/56fd890bf699bb7d0d406a15/1459456730122/breastCancerFund.jpg?format=750w"
        },
        {
            "name": "Prostate Cancer Foundation",
            "desc": "Committed to ending death and suffering from prostate cancer; accelerates the world's most promising prostate cancer research with the goal of developing new precision medicines and cures for prostate cancer.",
            "img": "https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Prostate_Cancer_Foundation_(logo).svg/432px-Prostate_Cancer_Foundation_(logo).svg.png"
        }
    ]
};
				var name = document.getElementById("namefield").innerHTML;
				console.log(name);

				//Check against JSONFILE
				for (var i = 0; i < obj.id; i++) {
					if (obj.values[i].name.toLowerCase() == name.toLowerCase())
					{
						document.getElementById("description").innerHTML = obj.values[i].desc;
					}
				}

              </script>
			  <!--<button type="button" class="btn btn-success" onclick="location.href='/payment'">Donate Now</button>-->
			  <script>
			var config = {
			        apiKey: "AIzaSyDEiQ7mFRi2KuuaLUP3IBL780A2B2Nuago",
			        authDomain: "charitystatement.firebaseapp.com",
			        databaseURL: "https://charitystatement.firebaseio.com",
			        storageBucket: "charitystatement.appspot.com",
			        messagingSenderId: "693936859765"
			      };

			      firebase.initializeApp(config);
			      console.log("firebase loaded.. description");
			  var fbUser;
		      firebase.auth().onAuthStateChanged(function(user) {
		        fbUser = user;
		        if(user) {
		          console.log("log in successful");
		        } else {
		          console.log("signed out");
		        }
		      });

			   var donate = function() {
			   	//is called
			   		console.log('inside donate');
				   	var database = firebase.database().ref('/');
				    if(fbUser) {
				      console.log('fbUser id: ' + fbUser.uid);
				      database = database.child(fbUser.uid).child('charities');
				      //database.ref('ref/').set(document.getElementById('sq-expiration-date').value);

				      database.once('value').then(function(snapshot) {
				       var update = {};
				       snapshot.forEach(function(childSnapshot) {
				         update[childSnapshot.key] = childSnapshot.val();
				         console.log("key: " + childSnapshot.key + ", val: " + childSnapshot.val());
				       });
				       //update[search] = search;
				       //update['sq-expiration-date'] = document.getElementById('sq-expiration-date').value;

				       var name = document.getElementById("namefield").innerHTML;
					   update[name] = name;
				       database.update(update).then(() => {
				        console.log("successful");
     				   	window.location.href = '/payment';
				       }).catch(error => {console.log("failed")});
				      }).catch(function(error) {
				       console.log('failed to update database', error);
				      });
				    }

			   }

			  </script>
			  <button type="button" class="btn btn-success" onclick="donate()">Donate Now</button>
              			  <!-- <button type="button" class="btn btn-success" onclick="location.href='/payment'">Donate Now</button> -->
              			  <br></br><h6 style="color: #d3d3d3=">Secure Square payment processing</h6>
							<br></br>
              <h3 id='links'> Latest News </h3>
              <script>
              var headlines = document.getElementById("headlines").innerHTML;
              console.log(headlines);
              var split = headlines.split("|");
              split.sort(function(a,b){return 0.5 - Math.random()});
              for (var i = 0; i < split.length; i++) {
              	document.write("<h6><a style=\"color: #d3d3d3\">");
              	document.write(split[i]);
              	document.write("</a></h6>");
              }
              </script>

			  <h3 id='charities-header'>Similar Charities</h3>
			  <script>
					var  w = 300,h =  300,circleWidth = 5;


var palette = {
      "lightgray": "#e3e8e8",
      "gray": "#708284",
      "mediumgray": "#536870",
      "blue": "#3B757F",
      "white": "#fff"
  }
var colors = d3.scale.category20();
var charityName = document.getElementById("name").innerHTML;
var first;
var second;
$(function() {
	$.getJSON('keywords.json', function(data) {
		$.each(data.values, function(i, v) {
			console.log(v.name);
		});
	});
});

var nodes = [
      { name: charityName, value: 40},
      { name: "Habitat for Humanity", target: [0], value: 55 },
      { name: "YMCA", target: [0], value: 60 }
];

var links = [];

for (var i = 0; i < nodes.length; i++){
      if (nodes[i].target !== undefined) {
            for ( var x = 0; x < nodes[i].target.length; x++ )
              links.push({
                  source: nodes[i],
                  target: nodes[nodes[i].target[x]]
              });
      };
};


var myChart = d3.select('#first-column')
      .append("div")
        .classed("svg-container", true)

      .append('svg')
        .attr("height", 600)
        .attr("width", 600)
                .attr("viewBox", "-50 -25 500 500")

        .classed("svg-content-responsive", true)


var force = d3.layout.force()
      .nodes(nodes)
      .links([])
      .gravity(0.1)
      .charge(-1000)
      .size([w,h]);

      var link = myChart.selectAll('line')
            .data(links).enter().append('line')
            .attr('stroke', palette.lightgray)
            .attr('strokewidth', '1');

      var node =  myChart.selectAll('circle')
            .data(nodes).enter()
            .append('g')
            .call(force.drag);


     node.append('circle')
            .attr('cx', function(d){return d.x; })
            .attr('cy', function(d){return d.y; })
            .attr('r', function(d,i){
                  console.log(d.value);
                  if ( i > 0 ) {
                        return circleWidth + d.value;
                  } else {
                        return circleWidth + 35;
                  }
            })
            .attr('fill', function(d,i){
                  if ( i > 0 ) {
                        return colors(i);
                  } else {
                        return '#fff';
                  }
            })
            .attr('strokewidth', function(d,i){
                  if ( i > 0 ) {
                        return '0';
                  } else {
                        return '2';
                  }
            })
            .attr('stroke', function(d,i){
                  if ( i > 0 ) {
                        return '';
                  } else {
                        return 'black';
                  }
            });


      force.on('tick', function(e){
            node.attr('transform', function(d, i){
              return 'translate(' + d.x + ','+ d.y + ')'
            })

          link
              .attr('x1', function(d){ return d.source.x; })
              .attr('y1', function(d){ return d.source.y; })
              .attr('x2', function(d){ return d.target.x; })
              .attr('y2', function(d){ return d.target.y; })
      });


      node.append('text')
            .text(function(d){ return d.name; })
            .attr('font-family', 'Raleway', 'Helvetica Neue, Helvetica')
            .attr('fill', function(d, i){
              console.log(d.value);
                  if ( i > 0 && d.value < 10 ) {
                        return palette.mediumgray;
                  } else if ( i > 0 && d.value >10 ) {
                        return palette.white;
                  } else {
                        return palette.blue;
                  }
            })
            .attr('text-anchor', function(d, i) {
                  return 'middle';
            })
            .attr('font-size', function(d, i){
                  if (i > 0) {
                        return '1.0em';
                  } else {
                        return '1.1em';
                  }
            })

force.start();
</script>
		   </div>
			<div class="col-md-6">
			  <h2>Sentiment Score</h2>
				<h6 style="color: #d3d3d3">The sentiment score is measure of general feeling towards the charity,
				generated by holistically analyzing and aggregating the linguistic tone of news, text, and media.
				<p>The score ranges from -1 to 1, where -1 is highly negative, and 1 is highly positive.
				Graphic display color also changes from red to green respectively to provide a visual representation of popular sentiment.</h6>
			  <div style="text-align:middle;">
			  			  <!-- ripped from html5 canvas tutorials -->
			<canvas id="myCanvas" width="200" height="200" ></canvas>
				<script>
					      var canvas = document.getElementById('myCanvas');
					      var s = document.getElementById('sentiment').innerHTML;

					      var context = canvas.getContext('2d');
					      var centerX = canvas.width / 2;
					      var centerY = canvas.height / 2;
					      var radius = 70;

					      context.beginPath();
					      context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
					      console.log(s);
					      if (s >= 0.5) {
					      	context.fillStyle = '#97dd7e';
					      	context.strokeStyle = '#5e9949';
					      } else if (s >= 0) {
					      	context.fillStyle = '#f1f489';
					      	context.strokeStyle = '#dbc27f';
					      } else if (s >= -0.5) {
					      	context.fillStyle = '#cc926c';
					      	context.strokeStyle = '#d66f46';
					      } else {
					      	context.fillStyle = '#ad4743';
					      	context.strokeStyle = '#871511';
					      }
					      context.fill();
					      context.lineWidth = 5;
					      context.stroke();

					      context.textAlign = 'center';
					      context.font = '40pt Helvetica'
					                  context.fillStyle = 'white';
            				context.fillText(s, centerX, centerY+24);


					    </script>
					    <p style="display: inline-block; vertical-align: middle;">testing</p>
					</div>
			  <h3>Discovered Keywords</h3>

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">

                                        	<tbody><script>
                                        	var keywords = document.getElementById("keywords").innerHTML;
                                        	var split = keywords.split(",");
                                        	split.sort(function(a,b){return 0.5 - Math.random()});

                                        	var counter = 0;
                                        	var upperlimit = split.length;
                                        	if (upperlimit > 10){
                                        		upperlimit = 10;
                                        	}
                                        	while (counter < upperlimit){
                                        		document.write('<tr>');
                                        		document.write('<td>');
                                        		document.write(split[counter]);
                                        		counter += 1;
                                        		document.write('</td>');
                                        		document.write('<td>');

                                        		document.write(split[counter]);
                                        		document.write('</td>');
                                        		document.write('</tr>');
                                        		counter += 1;

                                        	}
                                        	</script>
                                            </tbody>
                                        </table>
                                    </div>
			  <h3>Tone Analysis</h3>
			  <!-- <p> <%= sentiment %> </p>
			  <p style="color:#5cb85c"> <%= joy %> </p>

				<p style="color:#990000"> <%= sadness %> </p>

			  <p style="color:#990000"> <%= anger %> </p>

			  <p style="color:#990000"> <%= disgust %> </p>

			  <p style="color:#990000"> <%= fear %> </p> -->

				<style>

	.chart div {
	  font: 10px sans-serif;
	  background-color: steelblue;
	  text-align: right;
	  padding: 3px;
	  margin: 1px;
	  color: white;
	}

	</style>
	<div class="chart"></div>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script>
	var sadness = {
		'name': 'sadness',
		'val': document.getElementById("sadness").innerHTML
	}
	var joy = {
		'name': 'joy',
		'val': document.getElementById("joy").innerHTML
	}
	var anger = {
		'name': 'anger',
		'val': document.getElementById("anger").innerHTML
	}
	var fear = {
		'name': 'fear',
		'val': document.getElementById("fear").innerHTML
	}
	var disgust = {
		'name': 'disgust',
		'val': document.getElementById("disgust").innerHTML
	}
	var data = [joy, sadness, anger, fear, disgust];

	var x = d3.scale.linear()
	    .domain([0, d3.max(data)])
	    .range([0, 30]);

	d3.select(".chart")
	  .selectAll("div")
	    .data(data)
	  .enter().append("div")
	    .style("width", function(d) { return d.val * 500 + "px"; })
			.style("height", "50px")
			.style("text-align", "right")
			.style("font-size", "12px")
	    .text(function(d) { return d.val + " " + d.name; })

			d3.select(".chart")
				.selectAll("div")[0][0]
					.style.backgroundColor = "#5cb85c";

			d3.select(".chart")
				.selectAll("div")[0][1]
					.style.backgroundColor = "#990000";

			d3.select(".chart")
				.selectAll("div")[0][2]
					.style.backgroundColor = "#990000";

			d3.select(".chart")
				.selectAll("div")[0][3]
					.style.backgroundColor = "#990000";

			d3.select(".chart")
				.selectAll("div")[0][4]
					.style.backgroundColor = "#990000";

                </script>

		    </div>
        </div>

		<!-- post-loaded dependencies -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.js"></script>
	</body>
</html>
