<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link href="/css/custom.css" rel="stylesheet">
      <link href="/css/button.css" rel="stylesheet">
</head>
<body style="background-color: #001f3f">
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <div class="jumbotron" style="background-color: #001f3f">
        <div id="titleText" style="text-align: center">
            <h1 id="button" style="color: #ffffff">Thank you!</h1>
        </div>
      </div>

      <br></br>
      <div id="titleText" style="text-align: center">
          <a href = "/"><h4 id = "button" style="color: #ffffff">(return to home)</h4></a>
      </div>
</html>
